*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./image/newback.avif) no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  width: 400px;
  height: auto;
  min-height: 400px;
  padding: 30px;
  background: transparent;
  border: 4px solid #ffffff60;
  border-radius: 10px;
  /* backdrop-filter: blur(100px); */
  background-color:  #00000062;

}

h1 {
  color: #eee;
  text-align: center;
  margin-bottom: 36px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.todo-input {
  flex: 1;
  outline: none;
  padding: 10px 10px 10px 20px;
  background-color: transparent;
  border: 4px solid black;
  border-radius: 30px;
  color: #eee;
  font-size: 16px;
  margin-right: 10px;
}

.todo-input::placeholder {
  color: #bfbfbf;
}

.add-button {
  border: none;
  outline: none;
  background:  rgb(0, 0, 0);
  color: #ffffff60;
  font-size: 41px;
  cursor: pointer;
  border-radius: 40px;
  width: 45px;
  height: 45px;
}

.empty-image {
  width: 100%;
  margin: 55px auto 0;
  display: block;
}

.todo {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #31313196;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 12px;
  border: 2px solid #000000a1;
  transition: all 0.2s ease;
}

.todo:first-child {
  margin-top: 0;
}

.todo:last-child {
  margin-bottom: 0;
}

.todo:hover {
  background-color:#000000a1;
}

.todo label {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #eee;
}

.todo span {
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}

span::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  margin-left: -30px;
  border-radius: 100px;
  border: 2px solid black;
}

input[type='checkbox'] {
  visibility: hidden;
}

input:checked + span {
  text-decoration: line-through
}

.todo:hover input:checked + span::before, input:checked + span::before {
  background: url(./image/check.svg) 50% 50% no-repeat #000000;
  border-color: rgba(0, 0, 0, 0.63);
}

.todo:hover span::before {
  border-color: #000000;
}

.todo .delete-btn  {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #eee;
  font-size: 24px;
}

.todos-container  {
  height: 300px;
  overflow: overlay;
}

.todos-container::-webkit-scrollbar-track  {
  background: rgb(247, 247, 247);
  border-radius: 20px
}

.todos-container::-webkit-scrollbar  {
  width: 0;
}

.todos-container:hover::-webkit-scrollbar  {
  width: 7px;
}

.todos-container::-webkit-scrollbar-thumb  {
  background: #d5d5d5;
  border-radius: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.filter {
   
  color: #eee;
  padding: 5px 15px;
  border-radius: 100px;
  border: 3px solid #000000f3;
  transition: all 0.2s ease;
  cursor: pointer;
}

.filter.active, .filter:hover {
  background-color: black;
  color: white;

}

.delete-all {
  display: flex;
  color: #eee;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.delete-all:hover {
  border-radius: 5px;
  background-color: #080808b6;
}

@media (max-width:400px){
   
   .filters {
    width: 100%;
   } 
.filter {
    padding: 5px;
   gap: 20px;

}
.container {
    width: 100%;
}
.delete-all {
    padding: 10;
}
}

@media (max-width:343px){
   
   .filters {
    width: 100%;
   } 
.filter {
    padding: 6px 4px;
    font-size: 13px;
   gap: 20px;
}
.container {
    width: 100%;
}
.delete-all {
    padding: 10;
}
}
@media (max-width:310px){
   
   .filters {
    width: 100%;
    padding: 0;
   } 
.filter {
    padding: 2px;
    /* font-size: 14px; */
   gap: 20px;
}
.container {
    width: 100%;
    padding: 10px;
}
.delete-all {
    padding: 10;
}
}